.App {
  text-align: center;
}

.link {
  color: #b318f0;
}

input[type=text] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: large;
  margin-top: 0.5em;
  font-family: "Cantarell", sans-serif;
}

input[type=checkbox] {
  width: 1.5em;
  height: 1.5em;
}

h1 {
  font-family: "Cantarell", sans-serif;
}